.about-container {
    background-position: center bottom;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    color: white;
    position: relative;
}

.background-style {
    background-position: center bottom;
    background-attachment: fixed;
    background-size: cover;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    background-color: #00000099;
}

.info-style {
    font-family: Open Sans, serif;
    font-size: 11px;
    font-weight: 300;
    padding-right: 7px;
    margin: 0;
}

.info-bar {
    width: 1px;
    height: 14px;
    background-color: #FFFFFF50;
    margin-right: 7px;
}

.info-text {
    display: inline-block;
    word-break: break-word;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    max-width: 570px;
    font-size: 13px;
    font-weight: 300;
}

.avatar-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: #00000090;
    padding-top: 60px;
    padding-bottom: 30px;
}

.name-bar {
    display: flex;
    background-color: black;
    align-items: center;
    width: 600px;
}

@keyframes show-section {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 992px) {
    .name-bar {
        width: 100%;
    }
}
