.carousel-hobby-item {
    display: flex;
    height: 400px;
}

.carousel-hobby-img {
    opacity: 0.5;
    flex: 1;
    width: 50%;
    object-fit: contain;
}

@media only screen and (max-width: 992px) {

    .carousel-hobby-item {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .carousel-hobby-img {
        width: 90%;
    }

}
