.contact-list {
    background-color: #29003b;
    text-align: center;
    height: 350px;
}

.contact-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.icon-item {
    width: 6.5rem;
    height: 5.5rem;
}

.icon {
    color: white;
    margin-top: 10px;
    font-size: 65px;
    transition: color 0.8s ease-in-out;
}

.icon[type = 'email'] {
    margin-top: 5px;
    font-size: 75px;
}

.icon[type = 'discord'] {
    margin-top: 20px;
}

.icon[type = 'github']:hover {
    color: #696969;
}

.icon[type = 'bitbucket']:hover {
    color: #1a74ed;
}

.icon[type = 'email']:hover {
    color: darkred;
}

.icon[type = 'discord']:hover {
    color: #7289da;
}
