.contact-list {
    background-color: #29003b;
    text-align: center;
    height: 350px;
}

.contact-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
