.contact-list {
    background-color: #29003b;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 80px;
}

.contact-icons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 40px;
}

.icon-item {
    width: 6rem;
    height: 6rem;
}

.icon {
    color: white;
    margin-top: 10px;
    font-size: 65px;
}

.icon[type = 'email'] {
    margin-top: 5px;
    font-size: 75px;
}

.icon[type = 'discord'] {
    margin-top: 20px;
}

.icon[type = 'github']:hover {
    color: #696969;
}

.icon[type = 'bitbucket']:hover {
    color: #1a74ed;
}

.icon[type = 'email']:hover {
    color: darkred;
}

.icon[type = 'discord']:hover {
    color: #7289da;
}

