.contact-list {
    background-image: linear-gradient(
        to bottom right,
        red,
        #000000,
        #000000,
        #000000,
        red
    );
    text-align: center;
    border-top: 1px solid #ffffff90;
    position: relative;
}

.contact-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.email-container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.email-header {
    font-family: 'Roboto Condensed', serif;
    font-size: 25px;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
}

.email-text {
    font-family: 'Roboto Condensed', serif;
    font-size: 17px;
    color: grey;
    transition: 1s ease-in-out;
    text-decoration: none !important;
}

.email-text:hover {
    color: #dc143c;
}

.signature {
    font-family: 'Caveat', serif;
    font-size: 20px;
    line-height: 1;
    color: #dbdbdb;
    position: absolute;
    bottom: 70px;
    left: 100px;
    white-space: pre-wrap;
    display: inline-block;
    user-select: none;
}

@media (max-width: 900px) {
    .signature {
        position: static;
        margin-bottom: 50px;
    }
}

@media (max-width: 480px) {
    .email-header {
        font-size: 18px;
    }

    .email-text {
        font-size: 16px;
    }
}
