
.input-field {
    font-family: "Open Sans", serif;
    font-weight: 300;
    border-bottom-width: 1px;
    padding-bottom: 5px;
    background-color: transparent;
    color: white;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.input-icon {
    margin-right: 15px;
    color: white;
}

.input-field:focus {
    border-bottom-color: #9932CC;
    outline: none;
}

.input-field:focus + .input-icon {
    color: #9932CC;
}

.input-field:valid {
    border-bottom-color: #9932CC;
    outline: none;
}

.input-field:valid + .input-icon {
    color: #9932CC;
}

.input-field:invalid + .input-icon {
    color: red;
}

.input-field:invalid {
    border-bottom-color: red;
}

.input-field:placeholder-shown {
    border-bottom-color: white;
}

.input-field:placeholder-shown + .input-icon {
    color: white;
}
