* {
  margin: 0;
  padding: 0;
}

.App {
  overflow-x: hidden;
  background-color: black;
}

.page {
  max-width: 1920px;
  margin: 0 auto;
}

body {
  padding-top: 50px;
}

.header-text {
  color: white;
  display: inline-block;
  font-family: 'Open Sans', serif;
  font-weight: 300;
  margin-top: 20px;
  font-size: 23px;
}

.header-text-small {
  color: white;
  display: inline-block;
  font-family: 'Open Sans', serif;
  font-weight: 300;
  margin-top: 20px;
  font-size: 22px;
  margin-bottom: 50px;
}

.wallpaper-container {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  border-top: 1px solid #FFFFFF90;
  margin: auto;
  width: 100%;
}

.item-dashboard {
  background-color: #282c34;
  text-align: center;
  color: white;
}

.carousel-hobby-item {
  display: flex;
  height: 400px;
}

.carousel-project-item {
  display: flex;
  height: 450px;
}

.carousel-style {
  background-color: black;
  text-align: center;
  font-size: 24px;
  color: white;
  position: relative;
  z-index: 0;
}

.tooltipClass {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltipClass .tooltipText {
  visibility: hidden;
  width: 7rem;
  height: 2.5rem;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 0.65rem;
  padding: 3px 0;
  margin-top: -2rem;
  margin-left: -1rem;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltipClass .tooltipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltipClass:hover .tooltipText {
  visibility: visible;
}

.tooltipClassSmall {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltipClassSmall .tooltipText {
  visibility: hidden;
  width: 70px;
  height: 20px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 0.65rem;
  margin-top: -28px;
  margin-left: -8px;
  padding: 3px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltipClassSmall .tooltipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltipClassSmall:hover .tooltipText {
  visibility: visible;
}

.input-field {
  font-family: "Open Sans", serif;
  font-weight: 300;
  border-bottom-width: 1px;
  padding-bottom: 5px;
  background-color: transparent;
  color: white;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.input-icon {
  margin-right: 15px;
  color: white;
}

.input-field:focus {
  border-bottom-color: #9932CC;
  outline: none;
}

.input-field:focus + .input-icon {
  color: #9932CC;
}

.input-field:valid {
  border-bottom-color: #9932CC;
  outline: none;
}

.input-field:valid + .input-icon {
  color: #9932CC;
}

.input-field:invalid + .input-icon {
  color: red;
}

.input-field:invalid {
  border-bottom-color: red;
}

.input-field:placeholder-shown {
  border-bottom-color: white;
}

.input-field:placeholder-shown + .input-icon{
  color: white;
}

.contact-textarea {
  background-color: transparent;
  margin-top: 30px;
  width: 90%;
  height: 200px;
  border-width: 1px;
  resize: none;
  outline: none;
  color: white;
  font-family: 'Open Sans', serif;
  font-weight: 300;
  font-size: 12px;
  border-radius: 5px;
  padding: 5px;
}

.contact-textarea:focus {
  border-color: #9932CC;
}

.confirm-btn {
  margin-top: 15px;
  width: 120px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 13px;
  font-family: "Open Sans", serif;
  height: 30px;
  display: block;
  background: linear-gradient(to right, #29003b 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
  color: white;
}

.confirm-btn:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.confirm-btn:hover {
  background-position: left bottom;
}

.carousel-content {
  margin: 40px;
  text-align: left;
  flex: 1;
}

.carousel-hobby-img {
  opacity: 0.5;
  flex: 1;
  width: 50%;
  object-fit: contain;
}

.carousel-project-img {
  opacity: 0.8;
  flex: 1;
  width: 50%;
  object-fit: contain;
  margin-left: 20px;
  margin-bottom: 20px;
}

.confirm-alert {
  width: 300px;
  bottom: 1px;
  right: 1px;
  animation-name: show-button;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.orange-button {
  font-family: 'Open Sans', serif;
  background-color: black;
  border-color: orange;
  color: white;
  font-size: 12px;
  font-weight: 300;
  border-width: 1px;
  padding: 10px 20px;
  margin: 50px;
  border-radius: 8px;
  transition: color 2s ease-in-out, border-color 2s ease-in-out, background-color 2s ease-in-out;
}

.orange-button:hover {
  border-color: white;
  background-color: orange;
  color: black;
}

.redirect-text {
  color: orange;
  font-weight: 300;
  font-family: 'Source Code Pro', serif;
  font-size: 20px;
  animation-name: orange-to-purple;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes orange-to-purple {
  0% {
    color: orange;
  }

  50% {
    color: #9932CC;
  }

  100% {
    color: orange;
  }
}

@keyframes show-button {
  from {
    right: 0;
    bottom: 10px;
  }

  to {
    right: 35px;
    bottom: 10px;
  }
}

@keyframes show-hide {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes appear-text {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 992px) {

  .carousel-project-item {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .carousel-hobby-item {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .carousel-hobby-img {
    width: 90%;
  }

  .carousel-project-img {
    width: 90%;
    margin: 0;
  }

  .carousel-content {
    margin: 40px;
    text-align: left;
    flex: 3;
  }

  iframe {
    transform: scale(0.77);
    transform-origin: 0 0;
  }
}
