.icon-item {
    width: 6.5rem;
    height: 5.5rem;
}

.icon {
    color: white;
    margin-top: 10px;
    font-size: 65px;
    transition: color 0.8s ease-in-out;
}

.icon[type = 'email'] {
    margin-top: 5px;
    font-size: 75px;
}

.icon[type = 'github']:hover {
    color: #696969;
}

.icon[type = 'bitbucket']:hover {
    color: #1a74ed;
}

.icon[type = 'linkedin']:hover {
    color: #0e76a8;
}

.icon[type = 'email']:hover {
    color: darkred;
}

.icon[type = 'discord']:hover {
    color: #7289da;
}

@media only screen and (max-width: 480px) {

    .icon {
        font-size: 40px;
    }

    .icon[type = 'email'] {
        margin-top: 5px;
        font-size: 50px;
    }

}
