.footer {
    width: 100%;
    padding: 1rem;
    font-family: "Open Sans", serif;
    text-align: center;
    font-weight: 300;
    font-size: 0.7rem;
    background-color: #2d3436;
    background-image: linear-gradient(to right, #2d3436, #000000, #2d3436);
}
