* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
}

:root {
    color-scheme: dark;
    scrollbar-color: orange #1f1c1c;
}

.wallpaper-container {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-top: 1px solid #FFFFFF90;
    margin: auto;
    width: 100%;
}

.wallpaper-style-container {
    background-position: center;
    background-size: 65%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-top: 1px solid #FFFFFF90;
    margin: auto;
    width: 100%;
    background-color: black;
}

.video-container {
    position: relative;
    border-top: 1px solid #FFFFFF90;
    background-color: black;
    z-index: 0;
}

.video {
    z-index: -1;
    width: 1300px;
    position: absolute;
    border-style: solid;
    border-radius: 250px;
    border-width: 0;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: black;
}

.carousel-content {
    margin: 40px;
    text-align: left;
    flex: 1;
}

.carousel-style {
    background-color: black;
    text-align: center;
    font-size: 24px;
    color: white;
    position: relative;
    z-index: 0;
}

.tooltip-class {
    position: relative;
    display: inline-block;
}

.tooltip-class .tooltip-text {
    visibility: hidden;
    width: 7rem;
    height: 2.5rem;
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 0.65rem;
    padding: 3px 0;
    margin-top: -2rem;
    margin-left: -1rem;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltip-class .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip-class:hover .tooltip-text {
    visibility: visible;
}

.tooltip-class-small {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-class-small .tooltip-text {
    visibility: hidden;
    width: 70px;
    height: 20px;
    background-color: white;
    color: #fff;
    text-align: center;
    font-size: 0.6rem;
    margin-top: -28px;
    margin-left: -8px;
    padding: 3px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltip-class-small .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.tooltip-class-small:hover .tooltip-text {
    visibility: visible;
}

.orange-button {
    font-family: 'Open Sans', serif;
    background-color: #00000090;
    border-color: orange;
    color: white;
    font-size: 12px;
    font-weight: 300;
    border-width: 1px;
    padding: 10px 20px;
    border-radius: 8px;
    transition: color 2s ease-in-out, border-color 2s ease-in-out, background-color 2s ease-in-out;
}

.orange-button:hover {
    border-color: white;
    background-color: #FFA50090;
    color: black;
}

.colored-text {
    color: orange;
    font-weight: 300;
    font-family: Source Code Pro, serif;
    font-size: 19px;
    animation-name: orange-to-purple;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.with-dots {
    color: white;
}

.with-dots:after {
    content: '.';
    animation: loading-dots 1s steps(5, end) infinite;
}

.inform-text {
    color: white;
    font-weight: 300;
    font-size: 15px;
    font-family: 'Open Sans', serif;
    width: 90%;
    white-space: pre-wrap;
}

.scale-text {
    color: orange;
    font-size: 15px;
    font-weight: 300;
}

.reveal {
    animation: opacity-zero-to-one 5s ease-in-out;
}

.ref-page:hover {
    color: orange;
}

@keyframes loading-dots {
    0%, 20% {
        color: rgba(0, 0, 0, 0);
        text-shadow: .25em 0 0 rgba(0, 0, 0, 0),
        .5em 0 0 rgba(0, 0, 0, 0);
    }
    40% {
        color: white;
        text-shadow: .25em 0 0 rgba(0, 0, 0, 0),
        .5em 0 0 rgba(0, 0, 0, 0);
    }
    60% {
        text-shadow: .25em 0 0 white,
        .5em 0 0 rgba(0, 0, 0, 0);
    }
    80%, 100% {
        text-shadow: .25em 0 0 white,
        .5em 0 0 white;
    }
}

@keyframes orange-to-purple {
    0% {
        color: orange;
    }

    50% {
        color: #9932CC;
    }

    100% {
        color: orange;
    }
}

@keyframes opacity-zero-to-one {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 992px) {

    .carousel-content {
        margin: 40px;
        text-align: left;
        flex: 3;
    }

    iframe {
        transform: scale(0.77);
        transform-origin: 0 0;
    }

}

@media only screen and (max-width: 480px) {

    .inform-text {
        font-size: 12px;
    }

    .colored-text {
        font-size: 14px;
    }

    .scale-text {
        font-size: 12px;
    }
}

@media (orientation: portrait) {
    .wallpaper-style-container {
        background-size: cover;
    }
}

