* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  overflow-x: hidden;
}

body {
  padding-top: 50px;
}

.header-text {
  color: white;
  display: inline-block;
  font-family: 'Open Sans', serif;
  font-weight: 300;
  margin-top: 20px;
  font-size: 23px;
}

.header-text-small {
  color: white;
  display: inline-block;
  font-family: 'Open Sans', serif;
  font-weight: 300;
  margin-top: 20px;
  font-size: 22px;
  margin-bottom: 50px;
}

.wallpaper-container {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  border-top: 1px solid #FFFFFF90;
  margin: auto;
  width: 100%;
}

.item-dashboard {
  background-color: #282c34;
  text-align: center;
  color: white;
}

.carousel-item {
  height: 440px;
}

.carousel-style {
  background-color: black;
  text-align: center;
  font-size: 24px;
  color: white;
  position: relative;
  z-index: 0;
}

.tooltipClass {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltipClass .tooltipText {
  visibility: hidden;
  width: 7rem;
  height: 2.5rem;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 0.65rem;
  padding: 3px 0;
  margin-top: -2rem;
  margin-left: -1rem;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltipClass .tooltipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltipClass:hover .tooltipText {
  visibility: visible;
}

.tooltipClassSmall {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltipClassSmall .tooltipText {
  visibility: hidden;
  width: 70px;
  height: 20px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 0.65rem;
  margin-top: -28px;
  margin-left: -8px;
  padding: 3px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltipClassSmall .tooltipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltipClassSmall:hover .tooltipText {
  visibility: visible;
}

@media only screen and (max-width: 992px) {
  .carousel-item {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
}
