@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url("./assets/fonts/OpenSans-Regular.woff2") format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  src: url("./assets/fonts/OpenSans-Light.woff2") format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: url("./assets/fonts/OpenSans-Bold.woff2") format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Press Start';
  font-weight: 400;
  src: url("./assets/fonts/PressStart2P-Regular.woff2") format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 300;
  src: url("./assets/fonts/SourceCodePro-Light.woff2") format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 400;
  src: url("./assets/fonts/SourceCodePro-Regular.ttf") format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 700;
  src: url("./assets/fonts/SourceCodePro-Bold.woff2") format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Blender Pro Bold';
  font-weight: 700;
  src: url("./assets/fonts/BlenderProBold.woff2") format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 400;
  src: url("./assets/fonts/RobotoCondensed-Regular.woff2") format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 400;
  font-style: italic;
  src: url("./assets/fonts/RobotoCondensed-Italic.woff2") format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 300;
  src: url("./assets/fonts/RobotoCondensed-Light.woff2") format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  src: url("./assets/fonts/RobotoCondensed-Bold.woff2") format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Caveat';
  font-weight: 400;
  src: url("./assets/fonts/Caveat-Regular.woff2") format('woff2');
  font-display: swap;
}
