.skills-container {
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.knowledge-card-container {
    display: flex;
    justify-content: center;
    min-height: 350px;
}

@media only screen and (max-width: 992px) {
    .skills-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (max-width: 300px) {
    .skills-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

