.about-container {
    background-position: center bottom;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    background-color: #00000090;
}

.info-style {
    font-size: 15px;
    font-weight: 300;
    padding-right: 7px;
    margin: 0;
}

.info-bar {
    width: 1px;
    height: 14px;
    background-color: #FFFFFF50;
    margin-right: 7px;
}

.info-text {
    display: inline-block;
    word-break: break-word;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    max-width: 600px;
    font-size: 14px;
    font-weight: 300;
}

.avatar-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: #00000050;
    padding-top: 60px;
    padding-bottom: 30px;
}

.name-bar {
    display: flex;
    background-color: black;
    align-items: center;
    width: 600px;
}

@media only screen and (max-width: 992px) {

    .name-bar {
        width: 100%;
    }
}
