.nav-menu {
    display: flex;
    justify-content: center;
    margin-right: 40px;
}

.navbar-link-current {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-bottom: 15px;
}

.hamburger {
    display: none;
    position: absolute;
    right: 20px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.dark {
    background-color: orange;
}

.light {
    background-color: #9932CC;
}

.dark-color {
    color: orange !important;
}

.light-color {
    color: #9932CC !important;
}

.special-color {
    color: red !important;
}

.light-color:hover {
    color: orange !important;
}

@keyframes change-theme-to-dark-from-light {
    0% {
        background-color: white;
    }

    100% {
        background-color: black;
    }
}

@keyframes change-theme-to-light-from-dark{
    0% {
        background-color: black;
    }

    100% {
        background-color: white;
    }
}

@keyframes change-theme-to-special-from-light {
    0% {
        background-color: white;
    }

    100% {
        background-color: #000015;
    }
}

@keyframes change-theme-to-light-from-special {
    0% {
        background-color: #000015;
    }

    100% {
        background-color: white;
    }
}

@media only screen and (max-width: 992px) {

    .nav-menu {
        display: none;
        width: 100%;
    }

    .nav-menu.active {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-link-current {
        border-bottom-style: solid;
        border-top-style: solid;
        border-bottom-width: 1px;
        border-top-width: 1px;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
