.nav-menu {
    display: flex;
    justify-content: center;
    margin-right: 40px;
}

.navbar-link-current {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-bottom: 15px;
}

.dark-color {
    color: orange !important;
}

.light-color {
    color: #9932CC !important;
}

.light-color:hover {
    color: orange !important;
}

@keyframes change-theme-to-dark-from-light {
    0% {
        background-color: white;
    }

    100% {
        background-color: black;
    }
}

@keyframes change-theme-to-light-from-dark{
    0% {
        background-color: black;
    }

    100% {
        background-color: white;
    }
}

@media only screen and (max-width: 992px) {

    .nav-menu {
        display: none;
        width: 100%;
    }

    .nav-menu.active {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-link-current {
        border-bottom-style: solid;
        border-top-style: solid;
        border-bottom-width: 1px;
        border-top-width: 1px;
        padding-bottom: 5px;
        padding-top: 5px;
    }
}
