.navMenu {
    display: flex;
    justify-content: center;
    margin-right: 40px;
}

.navbarLinkCurrent {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-bottom: 15px;
}

.hamburger {
    display: none;
    position: absolute;
    right: 20px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.dark {
    background-color: orange;
}

.light {
    background-color: #9932CC;
}

.dark-color {
    color: orange !important;
}

.light-color {
    color: #9932CC !important;
}

.light-color:hover {
    color: orange !important;
}

@media only screen and (max-width: 992px) {

    .navMenu {
        display: none;
        width: 100%;
    }

    .navMenu.active {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .websiteName {
        position: static;
    }

    .navbarLinkCurrent {
        border-bottom-style: solid;
        border-top-style: solid;
        border-bottom-width: 1px;
        border-top-width: 1px;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}
