.carousel-project-item {
    display: flex;
    height: 450px;
}

.carousel-project-img {
    opacity: 0.8;
    flex: 1;
    width: 50%;
    object-fit: contain;
    margin-left: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 992px) {

    .carousel-project-item {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .carousel-project-img {
        width: 90%;
        margin: 0;
    }

}
